/* WaitingComponent.css */
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: relative; /* Necessary for absolute positioning within the container */
  }
  
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    flex: 1;
    min-height: 200px;
  }
  
  .image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .text-container {
    width: 40%;
    letter-spacing: 0.2em;
    line-height: 1.5;
    white-space: pre-wrap;
    position: relative; /* Necessary for absolute positioning of the circle */
  }
  
  .circle {
    position: absolute;
    top: 50%; /* Center vertically */
    left: -30px; /* Adjust as necessary */
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    animation: moveUpDown 2s infinite; /* Animation name and duration */
  }
  
  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(-80px);
    }
    50% {
      transform: translateY(80px);
    }
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    .text-container {
      width: 100%;
      letter-spacing: 0.1em;
      line-height: 1.3;
    }
    .image-container {
      width: 90%;
    }
    .circle {
      left: 10px; /* Adjust as necessary for small screens */
    }
  }
  