.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.logo-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    /* it is like the color of the parent of div that has logo-icon */
}
