.UserCard{
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 20px;
    border: 5px solid #85D15C;
    background-color: #85D15C;
}   

.UserCard .uppercard{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}