/* ImageSelector.css */
.imageSelectorContainer {
    position: relative;
    width: 60%;
    max-height: 200px;
}

.imageDisplayWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ensures the image doesn't overflow the container */
    border-radius: 5%; /* Optional: for circular images */
    border: 2px #85D15C solid;
}

.imageDisplayWrapper img {
    width: 100%;
    height: 100%;
    object-fit:cover; /* Ensures the image covers the entire area without stretching */
}

.imageSelectorContainer button {
    position: absolute;
    bottom: -5%;
    right: 5%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {

    .imageSelectorContainer {
        position: relative;
        width: 30%;
        max-height: 200px;
    }

}

@media screen and (max-width: 776px) {

    .imageSelectorContainer {
        position: relative;
        width: 36%;
        max-height: 200px;
    }

}