.AddCoordinatorContainer{
    display: flex;
}

.AddCoordinatorRight{
    width: 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerRightSide{
    background-color: #DDDDDD;
    border-radius: 2%;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* this will contain an image so we put it as center center */
.AddCoordinatorLeft{
    width: 50%;
    min-height: 100vh;
    background-color: #85D15C;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: border-radius 0.3s ease; /* Optional: Smooth transition for border-radius change */
}
.innerLeftSide{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

:dir(ltr) .AddCoordinatorLeft{
    border-radius: 100% 0% 52% 48% / 0% 100% 0% 100%;
}

:dir(rtl) .AddCoordinatorLeft{
    border-radius: 0% 100% 48% 52% / 100% 0% 100% 0%;
}

.innerLeftSide img{
    width: 80%;
}

@media (max-width: 880px) { 
    .AddCoordinatorContainer{
        display: flex;
        flex-direction: column;
    }
    .AddCoordinatorLeft{
        width: 100%;
    }
    :dir(ltr) .AddCoordinatorLeft{
        border-radius: 3%;
    }
    
    :dir(rtl) .AddCoordinatorLeft{
        border-radius: 3% ;
    }
    .innerLeftSide{
        width: 100%;
    }
    .innerLeftSide img{
        width: 60%;
    }
    .AddCoordinatorRight{
        width: 100%;
        align-items: start;
    }
    .innerRightSide{
        width: 90%;
        height: 100%;
        padding: 10%;
        margin-top: 50px;
    }
}