/* Spinner.css */
.custom-spinner .ant-spin-dot {
    font-size: 40px; /* Adjust size if needed */
}

.custom-spinner .ant-spin-dot i {
    background-color: #85D15C !important; /* Change color to red */
}
