.ant-select-item-option-content {
    color: black; /* Replace #yourColor with the color you want */
   }
   .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #B1FC87;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: white;
    border-radius: 7px;
    opacity: .7;
    font-size: .84rem;
    font-weight: 350;
  }
