/* FormInterface.css */
.FormContainerStyle {
  display: flex;
}

.leftFormSection {
  width: 50%;
  min-height: 100vh;
}

.rightFormSection {
  background-color: #85D15C;
  width: 50%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.rightFormSection div Form {
  height: 75%;
}

.rightFormSection div img {
  height: 20%;
  width: 25%;
  margin-bottom: 4%;
  margin-top: 2%;
}

[dir='rtl'] .rightFormSection {
  border-radius: 0% 100% 48% 52% / 100% 0% 100% 0%;
}

[dir='ltr'] .rightFormSection {
  border-radius: 100% 0% 52% 48% / 0% 100% 0% 100%;
}

@media (max-width: 880px) {
  .leftFormSection {
      width: 75%;
      min-height: 80vh;
      /* display: none; */
  }
  .FormContainerStyle {
      justify-content: center;
      flex-direction: column;
  }
  .rightFormSection {
      width: 67%;
      background-color: rgba(133, 209, 92, 1);
      justify-content: center;
      align-items: center;
  }
  [dir='rtl'] .rightFormSection, [dir='ltr'] .rightFormSection {
    border-radius: 5%;
}
}

@media (max-width: 575.98px) {
  .leftFormSection {
    width: 85%;
    min-height: 40vh;
    /* display: none; */
}
  [dir='rtl'] .rightFormSection, [dir='ltr'] .rightFormSection {
      width: 86%;
      border-radius: 5%;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container[dir='rtl'] {
  direction: rtl;
  text-align: right;
}

.form-container[dir='ltr'] {
  direction: ltr;
  text-align: left;
}

