.IconsCardReusable{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
    border-radius: 20px;
    border: 5px solid #85D15C;
}   

.IconsCardReusable .uppercard{
    background-color: #85D15C;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}