.custom-date-picker .ant-picker-input > input::placeholder {
    color: white;
    opacity: .7;
    font-size: .84rem;
    font-weight: 350;
   }
   .custom-date-picker .ant-picker-input > input {
    color: white;
    
   }
   