/* Existing horizBetween class */
.horizBetweenCourseDetails {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

/* Media query for screens smaller than medium */
@media (max-width: 900px) {
    .horizBetweenCourseDetails {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.CourseDetailsLeftSide{
    width: 50%;
    min-height: 76vh;
}

.CourseDetailsRightSide{
    width: 50%;
    min-height: 76vh;
}

@media (max-width: 900px) {
    .CourseDetailsLeftSide{
        width: 120%;
        height: 100%;
    }
    
    .CourseDetailsRightSide{
        width: 120%;
        height: 100%;
    }
}