/* Existing horizBetween class */
.horizBetweenJobDetails {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

/* Media query for screens smaller than medium */
@media (max-width: 900px) {
    .horizBetweenJobDetails {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.JobDetailsLeftSide{
    width: 50%;
    min-height: 76vh;
}

.JobDetailsRightSide{
    width: 50%;
    min-height: 76vh;
}


@media (min-width: 800px) and (max-width: 900px) {
    .JobDetailsLeftSide{
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
    
    .JobDetailsRightSide{
        width: 100%;
        height: 100%;
    }
}


@media (max-width: 800px) {
    .JobDetailsLeftSide{
        width: 120%;
        height: 100%;
        margin-bottom: 20px;
    }
    
    .JobDetailsRightSide{
        width: 120%;
        height: 100%;
    }
}