.UserCard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 5px solid #85D15C;
  background-color: #85D15C;
}

.UserCard .uppercard {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  /* Allow the upper card to grow and occupy space */
}

.image-container {
  width: 100%;
  height: 100%;
  max-width: 180px;
  /* Set a maximum width for the image container */
  max-height: 150px;
  /* Set a maximum height for the image container */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensures the image covers the container while preserving aspect ratio */
}


.fixed-size-img-2 {
  width: 500px;
  /* or any desired width */
  height: 150px;
  /* or any desired height */
  object-fit: cover;
  /* This will ensure the image maintains aspect ratio and fills the area */
  border-radius: 50%;
  /* Optional: this creates a circular image */
}