.StatisticsContainer{
    min-height: 100%;
    padding: 3%;
}

.peopleHired{
    min-height: 30vh;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    background-color: rgba(177, 252, 135, 0.6);
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.text-percentage{
    width: 40%;
    display: flex;
    /* justify-content: left; */
    font-size: 1.1rem;
    font-weight: bold;

}

.percentage-circle{
    width: 35%;
    height: 120%;
    display: flex;
    justify-content: center;
}

.percentage-column{
    width: 35%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  