

/* Notifications.css */

.notification-image-container {
    flex: 50%;
    text-align: center;
    padding: 20px;
}

/* Hide the image container on screens 768px wide or smaller */
@media (max-width: 768px) {
    .notification-image-container {
        display: none;
    }
}
