.leftProfileSection{
    width: 50%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.rightProfileSection{
    width: 50%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.profileContainer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-height: 100vh;
}


.flex2CenterColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 54% 46% 26% 74% / 0% 40% 60% 100%;
  }
  
  .flexAlignCenterRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Add margin between rows if needed */
  }

  .flexAlignTopRow {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: center;
    margin-bottom: 10px; /* Add margin between rows if needed */
  }
  
  .flex2Center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mx-2 {
    margin-left: 8px;
    margin-right: 8px;
  }
  

  .bottomRight{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    
  @media screen and (max-width: 900px) {
    .flex2CenterColumn{
        border-radius: 4%;
        padding: 5%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .profileContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        max-height: 100vh;
    }   
    .leftProfileSection{
        width: 80%;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
    }
    
    .rightProfileSection{
        width: 80%;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    .bottomRight{
        width: 100%;
        min-height: 50vh;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  }

  @media screen and (max-width: 580px) {  
    .flex2CenterColumn{
        border-radius: 4%;
        padding: 5%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .leftProfileSection{
        width: 100%;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
    }
    
    .rightProfileSection{
        width: 80%;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }
    .bottomRight{
        width: 100%;
        min-height: 50vh;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  }
