.ant-checkbox-checked .ant-checkbox-inner {
    background-color: green !important; /* Set the background color to green */
    border-color: green !important; /* Set the border color to green */
   }
   