/* Pagination styles */
.ant-pagination-item {
    background-color: #DDDDDD !important;
    border-color: #DDDDDD !important;
  }
  
  .ant-pagination-item a {
    color: black !important;
  }
  
  .ant-pagination-item-active {
    background-color: #85D15C !important;
    border-color: #85D15C !important;
  }
  
  .ant-pagination-item-active a {
    color: white !important;
  }
  
  .ant-pagination-prev,
  .ant-pagination-next {
    background-color: #85D15C !important;
    border-color: #85D15C !important;
  }
  
  .ant-pagination-prev a,
  .ant-pagination-next a {
    color: #DDDDDD !important;
  }