/* QuestionDetailsModal.css */
.carousel-note {
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
    color: #888;
    font-size: 16px;
  }
  
  .carousel-item {
    padding: 20px;
    background-color: #f0f2f5;
    border-radius: 10px;
    text-align: center;
  }
  
  .carousel-item h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .carousel-item ul {
    list-style-type: none;
    padding: 0;
  }
  
  .carousel-item li {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
  