.menu{
    height: 88vh;
    /* and here if you want to make gaps between the items you can do this */
    display: flex;
    /* and this to make sure that the elements will not be inside each other in row direction */
    flex-direction: column;
    gap: 15px;
    margin-top: 2rem;
    font-size: 1rem;
    /* and this if you want to put something in the end of it as componenet */
    position: relative;
}
.icon-style{
    font-size: 4rem;
}
    
/* MenuList.css */
.menu .ant-menu-item-selected {
    background-color: rgba(177, 252, 135, 0.6); /* Change background color */
    color: white; /* Change text color */
}
