/* Spinner.css */
.custom-loadingbar .ant-spin-dot {
    font-size: 10px; /* Adjust size if needed */
}

.custom-loadingbar .ant-spin-dot i {
    background-color: #ffffff !important; /* Change color to red */
}
