.userCvHeader{
    width: 100vw;
    min-height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userCvLeftHeader{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.userCvLeftHeader img{
    width: 25%;
}

@media (max-width: 767.98px) {
    .userCvLeftHeader img{
        width: 40%;
    }
}

.userCvRightHeader{
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.userCvRightHeader .halferWidth{
    width: 75%;
    border-radius: 20px 20px;
    padding: 10px;
    padding-left: 30px;
    background-color: #85D15C;
    color: white;
    font-weight: bold;
}

.userCvBody{
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 82.3vh;
    justify-content: center;   
}

.userCvLeftBody{
    width: 30%;
    background-color: #85D15C;
    margin: 2%;
    border-radius: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.userCvRightBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    padding: 2%;
}

.bodyCvElemnts{
    width: 55%;
}

.TrainingElement{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(168, 166, 166);
    padding: 3%;
    border-radius: 20px;
    margin: 10px 0px;
}

.TrainingElementImageContainer{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767.98px) {
    .userCvBody{
        flex-direction: column;
        align-items: center;
    }
    .userCvLeftBody{
        width: 60%;
    }
}