.UserDetailsLeftSide{
    width: 50%;
    min-height: 100%;
}
.UserDetailsLeftSide > div{
    width: 70%;
}

.UserDetailsRightSide{
    width: 50%;
    min-height: 100%;
}

.UserDetailsRightSide > div{
    width: 75%;
}

.horizBetweenJobUsersDetails {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

/* Media query for screens smaller than medium */
@media (max-width: 900px) {
    .horizBetweenJobUsersDetails {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 800px) and (max-width: 900px) {
    .UserDetailsLeftSide{
        width: 80%;
        margin-bottom: 20px;
    }
    
    .UserDetailsRightSide{
        width: 80%;
    }
}


@media (max-width: 800px) {
    .UserDetailsLeftSide{
        width: 90%;
        margin-bottom: 20px;
    }
    
    .UserDetailsRightSide{
        width: 90%;
    }
}

@media (max-width: 500px) {
    .UserDetailsLeftSide{
        width: 110%;
        margin-bottom: 20px;
    }
    
    .UserDetailsRightSide{
        width: 110%;
    }
}



/* Add this to your CSS file (UserDetailsInterface.css) */
.fixed-size-img {
    width: 100px; /* or any desired width */
    height: 100px; /* or any desired height */
    object-fit: cover; /* This will ensure the image maintains aspect ratio and fills the area */
    border-radius: 50%; /* Optional: this creates a circular image */
}
