.UserCvElementContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.UserCvElementTitle{
    width: 100%;
    font-size: 1.4rem;
    font-weight: bolder;
    color: #85D15C;
}